<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sign.css' %}">
<script>
function validateForm() {
  var firstName = document.getElementById("firstName").value;
  var lastName = document.getElementById("lastName").value;
  var email =document.getElementById("email").value;
  var password=document.getElementById("password").value;
  var re_password=document.getElementById("re_password").value;
  
  
  var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  var phonePattern = /^\d{10}$/;
  
 

  if (firstName == "" || lastName == ""  || password == "" || re_password  == "" || email == "") {
    alert("All fields must be filled out");
    return false;
  } else if (!emailPattern.test(email)) {
    alert("Please enter a valid email address");
    return false;
  }
  else if (re_password!=password) {
    alert("Please enter a correct password");
    return false;
  }
  return true;
}
</script>
</head>
<body>
  <div class="reg">
    <form   onsubmit="return validateForm()" name="reg" action="reg" method="post" >
        {% csrf_token %}
        <label>FIRST NAME</label>
        <input type="text" name="first" id="firstName">
        <label>Last NAME</label>
        <input type="text" name="last" id="lastName">
        <label>EMAIL</label>
        <input type="text" name="email" id="email">
        <label>PASSWORD</label>
        <input type="password" name="password" id="password">
        <label>RE-PASSWORD</label>
        <input type="text" name="re_password" id="re_password">
        <input type="submit" value="sgin up">

    </form>
  </div>
  <div class="login">
    <form action="log" method="post">
        {% csrf_token %}
        <label>FIRST NAME</label>
        <input type="text" name="first">
       
        <label>PASSWORD</label>
        <input type="password" name="password">
        
        <input type="submit" value="sgin in">

    </form>
  </div>
    {{name}}
</body>
</html>